@model IEnumerable<SolutionSource.Domain.PPSNav>
@{
    ViewBag.Title = "Home Page";
}
<div id="MSContent" style="background-color: white; display: block;">
    <div class="container" id="divContent">
        <div class="container">
            @{ 
                var item = Model.FirstOrDefault();
                @Html.Raw(@ViewBag.htmlBread)
                <div class="media align-middle">
                    <span class="media-left">
                        <img src="@ViewBag.ImgPath" alt="" height="48px" onerror="this.src='../../Content/img/No_Image_Available.png'">
                    </span>
                    <div class="media-body">
                        <h1 class="media-heading" style="line-height: 48px;">@item.Title&nbsp;
                            <a href="#">
                                <span class="glyphicon glyphicon-bookmark" onclick="OpenPreferenceWindow(&quot;View&quot;)" data-toggle="modal" data-target="#PPSModal" style="font-size: 18px"></span>
                            </a>
                        </h1>
                    </div>
                </div>
                @Html.Raw(@item.LongDesc)
                if (@ViewBag.showChild)
                {
                    <hr />
                    <div class="row">
                        <div class="col-md-4 padding-lg" id="divC1">
                        </div>
                        <div class="col-md-4 padding-lg" id="divC2">
                        </div>
                        <div class="col-md-4 padding-lg" id="divC0">
                        </div>
                    </div>
                    {
                        int i = 1;
                        foreach (var childPage in @ViewBag.childPages)
                        {
                            <div style="margin-bottom:10px;" id="divCount-@i">
                                <div class="SubCat1" id="r-@childPage.ID">
                                    <div class="media">
                                        <a class="" href="#w-@childPage.ID" data-toggle="collapse" aria-expanded="true" id="a-@childPage.ID" style="display:none">
                                            <em class="pull-right fa fa-chevron-down align-bottom fa-lg" style="vertical-align: bottom;">&nbsp;</em>
                                        </a>
                                        <span class="media-left align-middle"><img id="img-@childPage.ID" alt=""></span>
                                        <div class="media-body">
                                            <a href="/Page/ViewID/@childPage.ID">
                                                <h3 class="media-heading">@childPage.Title</h3>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div id="w-@childPage.ID" class="fade dydCol collapse" aria-expanded="false" style="padding: 5px 5px 8px 10px; background-color: rgb(0, 150, 214); color: rgb(255, 255, 255)">
                                    <p>
                                        <a href="/Page/ViewID/@childPage.ID" style="color:white">
                                            <strong>@childPage.Title</strong>
                                        </a>
                                    </p>
                                    <ul id="ul-@childPage.ID"></ul>
                                </div>
                            </div>
                            i = i + 1;
                        }
                    }
                }
                if (@ViewBag.showAsset)
                {
                    <div class="container" id="divExpandControl" style="background-color:#DEDEDE;padding:10px 15px 10px 10px;margin-top:20px">
                        <a href="javascript:void(0)" onclick="ExpandAllAsset()">Expand All</a> |
                        <a href="javascript:void(0)" onclick="ContractAllAsset()">Hide All</a>&nbsp;&nbsp;&nbsp;&nbsp;Displayed
                        <b><span id="spanAssetTotalCount" class="blue"></span></b>&nbsp;total assets
                        <div style="float:right" id="divViewControl">
                            <span onclick="viewControl(0)" class="glyphicon glyphicon-align-justify" style="cursor:pointer"></span>
                            <div style="position: absolute; width: 180px; margin-left: -150px; border: 1px solid rgb(204, 204, 204); z-index: 4000; padding: 10px; background: rgb(204, 230, 255); border-radius: 10px; margin-top: -2px;display:none" id="divControlOption">
                                <a href="javascript:void(0)" onclick="viewControl(3)"></a>
                                <div id="divDefault">
                                    <a href="javascript:void(0)" onclick="viewControl(3)">
                                        <span class="glyphicon glyphicon-tag lgrey" style="cursor: alias; font-weight: normal;" title="Default View" id="spanV1"></span>
                                        <span id="spanSpecialTag" class="lgrey" style="font-weight: normal;">Default View</span>
                                    </a><br>
                                </div>
                                <a href="javascript:void(0)" onclick="viewControl(1)">
                                    <span class="glyphicon glyphicon-th-large lgrey" style="cursor: alias; font-weight: bold;" title="Content Type View" id="spanV2"></span>
                                    <span id="spanContentType" class="lgrey" style="font-weight: bold;">Content Type View</span>
                                </a><br>
                                <a href="javascript:void(0)" onclick="viewControl(2)">
                                    <span class="glyphicon glyphicon-th-list lgrey" style="cursor: alias; font-weight: normal;" title="Asset View" id="spanV3"></span>
                                    <span id="spanAsset" class="lgrey" style="font-weight: normal;">Asset View</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div id="divAssetDataArea">
                        <div id="divContentDetail1" class="col-sm-9" style="padding-left:0px;display:none">
                            @foreach (var f in ViewBag.contentViewAssetsPortfolio)
                            {
                                <div id="divContentGroup-@f.Key.ToString().Replace(" ", "_")">
                                    <h3>@f.Key</h3>
                                    <hr style="clear:both;margin:0 0 0 0;height:5px">
                                    @{
                                        var d1 = new List<string>();
                                        foreach (var v in f.Value)
                                        {
                                            if (!d1.Contains(@v.ContentType0))
                                            {
                                            <div id="div-@f.Key.ToString().Replace(" ", "_")-@v.ContentType0.ToString().Replace(" ", "_")-title" class="handcursor">
                                                <b>
                                                    <span>@v.ContentType0</span>
                                                </b>&nbsp;
                                                <span class="assetCount"></span>
                                            </div>
                                            <div id="div-@f.Key.ToString().Replace(" ", "_")-@v.ContentType0.ToString().Replace(" ", "_")" style="display: block;" class="switchgroup1">
                                                <ul style="padding-left:0px; margin-bottom:0px;"></ul>
                                            </div>
                                            }
                                            d1.Add(@v.ContentType0);
                                        }
                                    }
                                </div>
                                        }
                            @foreach (var f in ViewBag.contentViewAssets)
                            {
                                <div id="divContentGroup-@f.Key.ToString().Replace(" ", "_")">
                                    <h3>@f.Key</h3>
                                    <hr style="clear:both;margin:0 0 0 0;height:5px">
                                    @{
                                        var d2 = new List<string>();
                                        foreach (var v in f.Value)
                                        {
                                            if (!d2.Contains(@v.ContentType0))
                                            {
                                                <div id="div-@f.Key.ToString().Replace(" ", "_")-@v.ContentType0.ToString().Replace(" ", "_")-title" class="handcursor">
                                                    <b>
                                                        <span>@v.ContentType0</span>
                                                    </b>&nbsp;
                                                    <span class="assetCount"></span>
                                                </div>
                                                <div id="div-@f.Key.ToString().Replace(" ", "_")-@v.ContentType0.ToString().Replace(" ", "_")" style="display: block;" class="switchgroup1">
                                                    <ul style="padding-left:0px; margin-bottom:0px;"></ul>
                                                </div>
                                            }
                                            d2.Add(@v.ContentType0);
                                        }
                                    }
                               </div>
                                        }
                        </div>
                        <div id="divContentDetail2" class="col-sm-9" style="padding-left:0px;display:none">
                            @{ 
                                var d3 = new List<int>();
                                foreach (var f in ViewBag.assetViewAssets)
                                {
                                    if (!d3.Contains(@f.ID))
                                    {
                                        <div id="div-Assets-@f.ID-title" class="handcursor">
                                            <b>
                                                <span>@f.ATitle</span>
                                            </b>&nbsp;
                                            <span class="assetCount"></span>
                                        </div>
                                        <div id="div-Assets-@f.ID" style="display: block;" class="switchgroup1">
                                            <div  style="padding-left: 24px;display:inline-block">@f.ShortDesc</div>
                                            <hr style="clear:both;margin:0 0 0 0;height:5px">
                                            <ul class="icon-list" style="display:inline"></ul>
                                            <hr style="clear:both;margin:0 0 0 0;height:5px">
                                        </div>
                                    }
                                    d3.Add(@f.ID);
                                }
                            }
                        </div>
                        <div id="divContentDetail3" class="col-sm-9" style="padding-left:0px;display:none">
                            group asset view
                        </div>
                        <div class="col-sm-3" style="background-color: rgb(239, 239, 239); padding-top: 10px; padding-left: 30px; padding-bottom: 60px; margin-top: 10px; left: 30px;" id="divSearchHidden">
                            <b>Asset Region:</b>
                            <div style="margin-top:10px">
                                <span style="font-weight: bold; cursor: pointer;" id="span-viewRegion" class="blue">EMEA</span> | <span class="lgrey" style="cursor: pointer; font-weight: normal;" id="span-viewAll">View All Assets</span>
                                @{ 
                                    if(ViewBag.showContact) {
                                        <br/><br />
                                        <div id='divPageContacts' class='col-md-12' style='margin-bottom:20px;padding-left:0px'>
                                            <i class='fa fa-user lgrey' aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;&nbsp;<b>Contacts</b>
                                            <br/>
                                            <div style='margin-top:10px'>
                                                @foreach (var f in ViewBag.contacts)
                                                {
                                                    if(!String.IsNullOrEmpty(@f.Region))
                                                    {
                                                        <a href="mailto:@f.Email"><b>@f.FName&nbsp;@f.LName</b></a><span>(@f.Region)</span>
                                                    }else{
                                                        <a href="mailto:@f.Email"><b>@f.FName&nbsp;@f.LName</b></a><br />
                                                    }
                                                    <br/>
                                                    <span style='font-size:9pt;'>@f.Title</span>
                                                    <br/>
                                                }
                                            </div>
                                        </div>
                                    }

                                }
                                @{
                                    if (ViewBag.showUsefulLinks)
                                    {
                                        <br /><br />
                                        <div id='divPageUsefulLinks' class='col-md-12' style='margin-bottom:20px;padding-left:0px'>
                                            <i class='fa fa-link lgrey' aria-hidden='true'></i>&nbsp;&nbsp;&nbsp;&nbsp;<b>Useful Links</b>
                                            <br />
                                            <div style='margin-top:10px'>
                                                @foreach (var f in ViewBag.usefulLinks)
                                                {
                                                    <div>
                                                        <a href="javascript:void(0)" target="_blank" onclick="fileClick(@f.FID)">@f.FTitle</a>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    }

                                }
                                
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>
@section Scripts {
    <script>
        function clearViewControlStyle(){
            $('#spanAsset').css("font-weight","normal").removeClass('blue').addClass('lgrey');
            $('#spanSpecialTag').css("font-weight","normal").removeClass('blue').addClass('lgrey');
            $('#spanContentType').css("font-weight","normal").removeClass('blue').addClass('lgrey');
            $('#spanV1').css("font-weight","normal").removeClass('blue').addClass('lgrey');
            $('#spanV2').css("font-weight","normal").removeClass('blue').addClass('lgrey');
            $('#spanV3').css("font-weight","normal").removeClass('blue').addClass('lgrey');

            $('#divContentDetail1').hide();
            $('#divContentDetail2').hide();
            $('#divContentDetail3').hide();
        }

        var gDivControlOptionOpen = false;
        var gCurrentView = -1;
        function viewControl(viewType){
            //alert(viewType);
            //fill the grouped count first
            $('#divContentDetail' + viewType + ' .switchgroup1').each(function() {//count all group
                var countGroup = 0;
                var thisGroupId = $(this).attr('id');
                //alert(thisGroupId);
                $(this).find('.dydCount').each(function() {
                    if($(this).css('display').indexOf('none') == -1){
                        countGroup ++;
                    }
                });
                if(countGroup == 0){
                    $('#' + thisGroupId + '-title').hide();
                }else{
                    $('#' + thisGroupId + '-title').show();
                    $('#' + thisGroupId + '-title').find('.assetCount').text('[' + countGroup + ']');
                }
            });

            if(viewType == 0){//open close control
                if(gDivControlOptionOpen){
                    gDivControlOptionOpen = false;
                    $('#divControlOption').hide();
                }else{
                    gDivControlOptionOpen = true;
                    $('#divControlOption').show();
                }
            }else if(viewType == 1){//content type view
                gCurrentView = 1;
                clearViewControlStyle();
                $('#divContentDetail1').show();

                var count = 0;
                $('#divContentDetail' + viewType + ' .dydCount').each(function() {//count all files
                    if($(this).css('display').indexOf('none') == -1){
                        count ++;
                    }
                });
                $('#spanAssetTotalCount').text(count);
                
                //hide ContentGroup- if there is nothing
                $('div[id^="divContentGroup-"]').each(function() {//child page background
                    var countGroup = 0;
                    //alert(thisGroupId);
                    $(this).find('.dydCount').each(function() {
                        if($(this).css('display').indexOf('none') == -1){
                            countGroup ++;
                        }
                    });

                    if(countGroup == 0){
                        $(this).hide();
                    }else{
                        $(this).show();
                    }
                });

                $('#spanContentType').css("font-weight","Bold").removeClass('lgrey').addClass('blue');
                $('#spanV2').css("font-weight","Bold").removeClass('lgrey').addClass('blue');
            }else if(viewType == 2){//asset view
                gCurrentView = 2;
                clearViewControlStyle();
                $('#divContentDetail2').show();

                var count = 0;
                $('#divContentDetail' + viewType + ' .handcursor').each(function() {//count all files
                    if($(this).css('display').indexOf('none') == -1){
                        count ++;
                    }
                });
                $('#spanAssetTotalCount').text(count);

                $('#spanAsset').css("font-weight","Bold").removeClass('lgrey').addClass('blue');
                $('#spanV3').css("font-weight","Bold").removeClass('lgrey').addClass('blue');
            }else if(viewType == 3){//group asset view
                gCurrentView = 3;
                clearViewControlStyle();
                $('#divContentDetail3').show();

                $('#spanSpecialTag').css("font-weight","Bold").removeClass('lgrey').addClass('blue');
                $('#spanV1').css("font-weight","Bold").removeClass('lgrey').addClass('blue');
            }else{
                alert("viewType Error");
            }
            ContractAllAsset();
        }

        $(function () {
            $('div[id^="r-"]').each(function() {//child page background
                var id = $(this).attr('id').split('-')[1];
                $(this).attr('style','background-image: url("../../Content/img/PS/SubCatTile_ID' + id + '.png');
            });
            $('img[id^="img-"]').each(function() {//child icon img
                var id = $(this).attr('id').split('-')[1];
                $(this).attr('src', '../../Content/img/PS/TitleIcon_ID' + id + '.png');
            });
            $('div[id^="divCount-"]').each(function() {//build child div box
                var id = $(this).attr('id').split('-')[1];
                var destDiv = parseInt(id) % 3;
                //alert(destDiv);
                $(this).appendTo('#divC' + destDiv);
            });

            _.defer(function(){
                $('a[id^="a-"]').each(function() {//find child has child
                    var id = $(this).attr('id').split('-')[1];
                    $.ajax({
                        url: '/Page/GetChildNav',
                        type: 'POST',
                        dataType: 'json',
                        data: { id: id },
                        success: function (result) {
                            //alert(JSON.stringify(result));
                            var resultObj = JSON.parse(result);
                            if(resultObj.length > 0){
                                $('#a-' + id).show();
                                $.each(resultObj, function(key,value){
                                    $('#ul-' + id).append('<li><a href="/Page/ViewID/' + value.ID + '" style="color:white">' + value.Title + '</a></li>');
                                });
                                //$('#w-' + id).show();
                            }
                        },
                        error: function () {
                            alert("error");
                        }
                    });
                });
            });

            gCurrentView =  @ViewBag.viewType;
            _.defer(function(){//build content type view, asset view html here
                var rawData = @Html.Raw(Json.Encode(@ViewBag.assetViewAssets));//use ViewBag in javascript
                var _thisNavId =  @ViewBag.NavID;
           
                rawData = _.map(rawData, function(arr){
                    if(arr.NavID != _thisNavId){
                        arr.ContentTypeOrderID = arr.ContentTypeOrderID * 100;//make offering order id big
                    }
                    return arr;
                });
                rawData = _.sortBy(rawData, function(arr) {
                    return parseInt(arr.ContentTypeOrderID);
                });
                $.each(rawData, function(index, value) {
                    //alert( index + ": " + value.ContentType0);
                    //for content type
                    var markHtml = value.Mark.length > 0 ? " - " + "<span  style='color:#C09;font-size:9pt'>" + value.Mark + "</span>" : "";
                    var confidentialityHtml = value.Confidentiality.indexOf('Internal') > -1 ? ' | <font color="red">' + value.Confidentiality + '</font>' : ' | ' +  value.Confidentiality;
                    var publishDateHtml = " | " + value.PublishDate.split(' ')[0].replace(/\//g, '-');// + '-' + value.ContentTypeOrderID;//debug order id
                    var favoriteIconHtml = '<br/><span class="glyphicon glyphicon-star" style="color:#0096D6;cursor:pointer" onclick="SaveFavorite(' + value.FID + ')"></span><a href="javascript:void(0)" style="font-size:12px" onclick="SaveFavorite(' + value.FID + ')">Add to favorite</a>';
                    var shareIconHtml = '&nbsp;|&nbsp;<span class="glyphicon glyphicon-share " style="color:#0096D6;cursor:pointer" onclick="share(' + value.FID + ')"></span><a href="javascript:void(0)" style="font-size:12px" onclick="share(' + value.FID + ')">Share link</a>';
                    var emailIconHtml = '&nbsp;|&nbsp;<span class="glyphicon glyphicon-envelope " style="color:#0096D6;cursor:pointer" onclick="email(' + value.FID + ')"></span><a href="javascript:void(0)" style="font-size:12px" onclick="email(' + value.FID + ')">Email link</a>';

                    var previewIconHtml = '';
                    if(value.Link == ''){//only file will show preview
                        previewIconHtml = '&nbsp;|&nbsp;<span class="glyphicon glyphicon-eye-open" style="color:#0096D6;cursor:pointer" onclick="preview(' + value.FID + ')"></span><a href="javascript:void(0)" style="font-size:12px" onclick="preview(' + value.FID + ')">Preview file</a>';
                    }

                    //for assets
                    var favoriteIconHtml2 = '<span class="glyphicon glyphicon-star" style="color:#0096D6;cursor:pointer" onclick="SaveFavorite(' + value.FID + ')"></span>';
                    var shareIconHtml2 = '<span class="glyphicon glyphicon-share" style="color:#0096D6;cursor:pointer" onclick="share(' + value.FID + ')"></span>';
                    var emailIconHtml2 = '<span class="glyphicon glyphicon-envelope" style="color:#0096D6;cursor:pointer" onclick="email(' + value.FID + ')"></span>';
                    var previewIconHtm2 = '';
                    if(value.Link == ''){//only file will show preview
                        previewIconHtm2 = '<span class="glyphicon glyphicon-eye-open" style="color:#0096D6;cursor:pointer" onclick="preview(' + value.FID + ')"></span>';
                    }
                    

                    var htmlToAppend = '<div class="dydRegion-' + value.Region + ' dydCount"><hr style="clear:both; margin:5px 0px 0px 0px; height:1px"><li style="display:inline-block;width:100%"><div class="AssetResult" style="display: inline-block; width: 100%; padding: 0px;"><div class="col-xs-10" style="width:100%"><h4 style="display:inline"><strong><a onclick="logClick(' + value.FID + ');fileClick(' + value.FID + ')" href="javascript:void(0)" target="_blank">' + value.FTitle + '</a></strong></h4>' + markHtml + '<p>' + value.ShortDesc + '</p><p id="p' + value.FID + '"></p></li></div>';

                    //content type view starts here
                    if(value.ContentGroup == 'Portfolio'){
                        if(value.Confidentiality.indexOf('Internal') > -1){
                            $('#div-Internal_Facing-' + value.ContentType0.replace(/ /g, '_')).find('ul').append(htmlToAppend);
                            $('#div-Internal_Facing-' + value.ContentType0.replace(/ /g, '_')).find('#p' + value.FID).append(ReplaceLoopUpMultiID(value.Region + confidentialityHtml + publishDateHtml + favoriteIconHtml + shareIconHtml + emailIconHtml + previewIconHtml));
                        }else{
                            $('#div-Customer_Facing-' + value.ContentType0.replace(/ /g, '_')).find('ul').append(htmlToAppend);
                            $('#div-Customer_Facing-' + value.ContentType0.replace(/ /g, '_')).find('#p' + value.FID).append(ReplaceLoopUpMultiID(value.Region + confidentialityHtml + publishDateHtml + favoriteIconHtml + shareIconHtml + emailIconHtml + previewIconHtml));
                        }

                    }else{
                        $('#div-' + value.ContentGroup + "-" + value.ContentType0.replace(/ /g, '_')).find('ul').append(htmlToAppend);
                        $('#div-' + value.ContentGroup + "-" + value.ContentType0.replace(/ /g, '_')).find('#p' + value.FID).append(ReplaceLoopUpMultiID(value.Region + confidentialityHtml + publishDateHtml + favoriteIconHtml + shareIconHtml + emailIconHtml + previewIconHtml));
                    }

                    //asset view starts here
                    $('#div-Assets-' + value.ID).find('ul').append('<li style="display:block;margin-top:0px" class="dydRegion-' + value.Region + ' dydCount"><a href="javascript:void(0)" onclick="logClick(' + value.FID + ');fileClick(' + value.FID + ')"><b>' + value.FTitle + '</b></a><div style="float:right">' + favoriteIconHtml2 + shareIconHtml2 + emailIconHtml2 + previewIconHtm2 + '</div></li>');
                });

                //switch asset view 

                expandcontract = new switchcontent("switchgroup1", "div") //Limit scanning of switch contents to just "div" elements
                expandcontract.setStatus('<img src="../../Content/img/minus.png" style="margin-right:5px;" /> ', '<img src="../../Content/img/plus.png" style="margin-right:5px;" /> ');
                //expandcontract.setColor('blue', 'grey');
                expandcontract.setPersist(false);
                expandcontract.collapsePrevious(false); //Only one content open at any given time
                expandcontract.init();

                //count assets and control css
                viewControl(gCurrentView);
            });

            $('#span-viewRegion').click(function() {//filter by region
                $('[class^="dydRegion-"]').each(function() {//
                    var region = $(this).attr('class').split('-')[1];
                    if(region.indexOf('Worldwide') == -1 && region.indexOf('EMEA') == -1){
                        $(this).hide();
                    }
                    //count assets and control css
                    $('#span-viewRegion').css('font-weight', 'bold').removeClass('lgrey').addClass('blue');
                    $('#span-viewAll').css('font-weight', 'normal').removeClass('blue').addClass('lgrey');
                });
                viewControl(gCurrentView);
            });

            $('#span-viewAll').click(function() {//show all
                $('[class^="dydRegion-"]').each(function() {//
                    $(this).show();
                });

                $('#span-viewRegion').css('font-weight', 'normal').removeClass('blue').addClass('lgrey');
                $('#span-viewAll').css('font-weight', 'bold').removeClass('lgrey').addClass('blue');

                //count assets and control css
                viewControl(gCurrentView);
            });
        });

        function logClick(fid){
            alert(fid);
        }

        function fileClick(fid){
            alert(fid);
        }

        $('body').toTop({css: {
            position: "fixed",
            right: '3rem',
            bottom: '1rem',
            fontSize: '3rem',
            cursor: 'pointer',
            color: '#ECF0F1'
        }});
    </script>
}

